@font-face {
    font-family: "cabin";
    src: url(../fonts/cabin.ttf);
}

.main-container {
    font-family: "cabin";
    width: 800px;
    margin: 0 auto;
}

.question {
    padding: 20px 0px;
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #CCC;
}


